/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        Tap_Hold: Tap_Hold {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_HOLD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
        };

        Tap_Hold_Layer: Tap_Hold_Layer {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_HOLD_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        gallium {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE  &kp B  &Tap_Hold LCTRL L  &Tap_Hold LEFT_ALT D  &Tap_Hold LEFT_GUI W  &kp Z                            &kp SQT                  &Tap_Hold RIGHT_GUI F  &Tap_Hold RIGHT_ALT O  &Tap_Hold RCTRL U  &kp J     &kp BSPC
&kp TAB     &kp N  &kp R              &kp T                 &kp S                 &kp G                            &kp Y                    &kp H                  &kp A                  &kp E              &kp I     &kp SEMI
&kp LSHFT   &kp Q  &kp X              &kp M                 &kp C                 &kp V                            &kp K                    &kp P                  &kp COMMA              &kp DOT            &kp FSLH  &kp MINUS
                                      &mo 3                 &mo 2                 &Tap_Hold LS(LA(LCTRL)) ENTER    &Tap_Hold_Layer 1 SPACE  &mo 2                  &mo 2
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6    &kp N7    &kp N8  &kp N9     &kp N0  &kp BSPC
&trans     &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&kp LSHFT  &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans  &trans     &trans  &trans
                           &trans  &trans  &trans    &trans    &trans    &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp GRAVE  &kp EXCL  &kp AT     &kp HASH   &kp DLLR  &kp PRCNT    &kp CARET             &kp AMPS      &kp KP_MULTIPLY  &kp LPAR  &kp RPAR      &kp BSPC
&kp EQUAL  &kp SQT   &kp MINUS  &kp EQUAL  &kp BSPC  &trans       &kp NON_US_BACKSLASH  &kp LS(LPAR)  &kp LBKT         &kp RBKT  &kp LS(RPAR)  &kp RET
&kp LSHFT  &trans    &trans     &trans     &trans    &trans       &trans                &trans        &trans           &trans    &trans        &trans
                                &trans     &trans    &trans       &trans                &trans        &trans
            >;
        };

        layer_3 {
            bindings = <
&trans       &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans      &trans
&trans       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &trans  &trans      &trans
&bootloader  &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &sys_reset  &bootloader
                                         &trans        &trans        &trans          &trans  &trans  &trans
            >;
        };
    };
};
